[package]
name = "vibe_show"
version = "0.1.0"
edition = "2021"

[dependencies]
tauri = { version = "2", features = ["devtools", "protocol-asset"] }
tauri-build = { version = "2", features = [] }
tauri-plugin-dialog = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
quick-xml = "0.37"

[build-dependencies]
tauri-build = { version = "2", features = [] }
